.sender-ai {
  flex-direction: row;
}

.sender-user {
  flex-direction: row-reverse;
}

.sender-ai span {
  margin-right: 4px;
  align-self: center;
}

.sender-user span {
  margin-left: 4px;
  align-self: center;
}

:host {
  display: contents;
}
