:host {
  display: contents;
}

.window {
  border-radius: 20px;
  margin: 10px;
  padding: 7px;
  font-size: 14px;
  flex-grow: 1;
  overflow-y: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.window > div > div {
  display: flex;
  margin: 15px 0;
}

.sender-ai {
  flex-direction: row;
}

.sender-user {
  flex-direction: row-reverse;
}

.sender-ai span {
  margin-right: 4px;
  align-self: center;
}

.sender-user span {
  margin-left: 4px;
  align-self: center;
}
