:host {
  display: contents;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #7a9e7e;
  color: #c8dbdd;
  height: 50px;
  align-items: center;
}

a {
  margin: 4px 10px 0 10px;
}
