:host {
  display: contents;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #7a9e7e;
  color: #e8f1f2;
  height: 50px;
  align-items: center;
}

mat-divider {
  margin: 5px;
}
