<main style="display: flex; flex-direction: row">
  <div style="width: 400px">
    <ngx-placeholder
      type="text"
      phrase="prompt"
      width="100%"
      height="100%"
    ></ngx-placeholder>
  </div>
  <div style="flex-grow: 1">
    <ngx-placeholder
      type="text"
      phrase="map"
      width="100%"
      height="100%"
    ></ngx-placeholder>
  </div>
</main>
<div>
  <ngx-placeholder
    type="text"
    phrase="footer"
    width="100%"
    height="70px"
  ></ngx-placeholder>
</div>
