<!-- <div class="">
  <div class="header">Atlas AI</div>
  <app-window [chats]="chats"></app-window>
  <div style="margin: 10px">
    <form style="display: contents" (submit)="handleFormSubmit($event)">
      <mat-form-field style="width: 100%">
        <textarea
          matInput
          placeholder="Prepare a travel itinerary from xyz to xyz"
          rows="4"
          [(ngModel)]="prompt"
          name="prompt"
        ></textarea>
      </mat-form-field>
      <button style="width: 100%" mat-flat-button>Run</button>
    </form>
  </div>
</div> -->
<p-sidebar #sidebarRef styleClass="w-30rem" [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless"> chat window here </ng-template>
</p-sidebar>
<p-button
  class="sidebar-toggle"
  (onClick)="sidebarVisible = true"
  icon="pi pi-align-justify"
/>
